
# Created by https://www.gitignore.io/api/r
# Edit at https://www.gitignore.io/?templates=r

### R ###
# History files
.Rhistory


# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### macOS ###
# General
.DS_Store
docs/.DS_Store
docs/build/.DS_Store
docs/build/html/.DS_Store
docs/source/.DS_Store
